@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: #444444;
  --darkest-gray: #1E1E1E;
  --main-purple: #7D00DF;
  --dark-purple: #320059;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #421267, #530d8a);
}

/* Scrollbar track */
.App ::-webkit-scrollbar-track {
  background: none !important;

}

/* Scroll bar itself */
::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 0.7);
  border-radius: 10px;
}

/* Scrollbar hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Enables smooth scroll for navigation */
html {
  scroll-behavior: smooth;
  /* background: linear-gradient(135deg, var(--darkest-gray), var(--main-purple) 175%); */
  /* z-index: -9999; */
}


.App {
  text-align: center;
}

body {
  background: linear-gradient(135deg, var(--darkest-gray), var(--main-purple) 175%);
  background-size: contain;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  color: white;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  right: 0px;
  /* scrollbar-gutter: stable both-edges ;  */
}

a :visited {
  color: white !important;
}

.horizontalButton {
  position: sticky;
  background-color: cyan;
  bottom: 50%;
}

#blackout{
  background-color: black;
  height:100vh;
  width:100vw;
  position:fixed;
  top:0px;
  left:0px;
  opacity:0.7;
  display: none;
}

.navi:hover{
  background-color: white;
  color:var(--dark-purple);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}