@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar track */
.App ::-webkit-scrollbar-track {
  background: none !important;

}

/* Scroll bar itself */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Enables smooth scroll for navigation */
html {
  scroll-behavior: smooth;
}


.App {
  text-align: center;
}

body {
  background: linear-gradient(135deg, var(--darkest-gray), var(--main-purple) 175%);
  background-size: contain;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  right: 0px;
  /* scrollbar-gutter: stable both-edges ;  */
}

.horizontalButton {
  position: sticky;
  bottom: 50%;
}

#blackout{
  background-color: black;
  height:100vh;
  width:100vw;
  position:fixed;
  top:0px;
  left:0px;
  opacity:0.7;
  display: none;
}

